<div class="clr-row">
        <div class="clr-col clr-align-self-center">
            <div class="card">
                <div class="card-header">
                    Daily Question
                </div>
                <div class="card-block">
                    <div class="card-title" *ngIf="challengeQuestion">
                        <form clrForm>
                            <clr-input-container>
                              <label>{{challengeQuestion.factorA}} X {{challengeQuestion.factorB}}</label>
                              <input placeholder="Your Answer" clrInput name="name" required />
                              <clr-control-error>This field is required!</clr-control-error>
                            </clr-input-container>
                          </form>
                    </div>


                </div>
                <div class="card-footer">
                    <button class="btn btn-primary ">Submit</button>
                </div>
            </div>
        </div>
    </div>

    

    